# Información utilizada en el modelo

La información que hemos utilizado para elaborar el modelo se encuentra en la tabla `TABLA_MODELO`, que es el resultado del script `0_Obtencion_parseo_datos`.

In [1]:
import pandas as pd
import numpy as np

## Histórico de partidos

En esta tabla tenemos los datos del histórico de partidos entre 2015 y 2018. Cada registro corresponde a un partido con la siguiente información:

* Fecha del partido
* Equipos
* Ranking FIFA de cada equipo en el año en el que se jugó el partido
* Resultado
* Cuotas previas al partido
* Porcentaje de victorias de cada equipo con respecto a equipos en la misma trancha del Ranking FIFA que el adversario.
* Estadísticas de Ataque, Media y Defensa extraídas del videojuego FIFA 18

Los partidos corresponden a aquellos jugados por equipos que estuvieran en el videojuego FIFA 18, ya que de lo contrario no disponemos de la puntuación.

In [2]:
tabla_modelo = pd.read_excel('TABLA_MODELO.xlsx', sheetname='PLANTILLA')
tabla_modelo.head()

,Dia_Def,ANIO,EQUIPO_1,RANKING_1,RESULTADO_1,QUINIELA_1,EQUIPO_2,RANKING_2,RESULTADO_2,QUINIELA_2,...,DIF_CUOTAS,RESULTADO_CUOTAS,POR_VIC1,POR_VIC2,ATAQUE_1,MEDIO_1,DEFENSA_1,ATAQUE_2,MEDIO_2,DEFENSA_2
0,08.06.2018,2018,ALEMANIA,1,2,1,ARABIA SAUDI,67,1,-1,...,-40.33,1,0.571429,0.000000,85,85,85,71,72,71
1,02.06.2018,2018,AUSTRIA,26,2,1,ALEMANIA,1,1,-1,...,3.56,-1,0.333333,0.750000,80,77,75,85,85,85
2,27.03.2018,2018,ALEMANIA,1,0,-1,BRASIL,2,1,1,...,0.58,0,0.166667,0.571429,85,85,85,87,85,86
3,23.03.2018,2018,ALEMANIA,1,1,0,ESPANIA,10,1,0,...,-1.10,0,0.166667,0.428571,85,85,85,84,86,85
4,03.06.2018,2018,ARABIA SAUDI,67,0,-1,PERU,11,3,1,...,4.53,-1,0.000000,0.571429,71,72,71,77,76,74

In [3]:
len(tabla_modelo)

658

In [4]:
tabla_modelo.columns

Index(['Dia_Def', 'ANIO', 'EQUIPO_1', 'RANKING_1', 'RESULTADO_1', 'QUINIELA_1',
       'EQUIPO_2', 'RANKING_2', 'RESULTADO_2', 'QUINIELA_2', 'CUOTA1',
       'CUOTA0', 'CUOTA2', 'TRANCHA_1', 'TRANCHA_2', 'DIF_CUOTAS',
       'RESULTADO_CUOTAS', 'POR_VIC1', 'POR_VIC2', 'ATAQUE_1', 'MEDIO_1',
       'DEFENSA_1', 'ATAQUE_2', 'MEDIO_2', 'DEFENSA_2'],
      dtype='object')

## Puntuaciones de cada equipo (FIFA 18)

Esta información ya se encuentra pegada en el histórico de partidos, aunque se necesitará en ciertas ocasiones:

In [5]:
puntuaciones_fifa = pd.read_excel('T1_FIFA_Puntuaciones.xlsx')

In [6]:
puntuaciones_fifa.head()

        Country  Punt_Ataque  Punt_Med  Punt_Def
0      ALEMANIA           85        85        85
1  ARABIA SAUDI           71        72        71
2     ARGENTINA           86        83        81
3     AUSTRALIA           69        72        71
4       AUSTRIA           80        77        75

## Ranking FIFA

En esta tabla tenemos el ranking FIFA de cada selección en cada año desde 2015 hasta 2018.

In [8]:
ranking = pd.read_excel('RANKING_FIFA.xlsx')
ranking.head()

   PUESTO     EQUIPO  ANIO
0       1   ALEMANIA  2018
1       2     BRASIL  2018
2       3    BELGICA  2018
3       4   PORTUGAL  2018
4       5  ARGENTINA  2018