## Actualización de la tabla de clasificación de un grupo en base a un resultado

In [1]:
import pandas as pd
import numpy as np
import itertools

#### 0. Creación de funciones auxiliares

In [2]:
# Convertir una tabla en un diccionario

def df_to_dict(df):
    
    columns = df.columns
    d = dict(itertools.zip_longest(df[columns[0]], df[columns[1]]))
    return d

# Convertir un diccionario en una tabla

def dict_to_df(d):
    
    df = pd.DataFrame(columns=['Team', 'Points'])
    df['Team'] = d.keys()
    df['Points'] = d.values()
    return df

#### 1. Construcción de la tabla inicial del grupo a partir de una lista de equipos

In [3]:
def create_initial_table(list_teams):
    
    # Inicializamos un diccionario con claves = equipos y valores = 0 en todos los casos
    
    dict_teams = {list_teams[0]: 0,
                  list_teams[1]: 0, 
                  list_teams[2]: 0, 
                  list_teams[3]: 0}
    
    # Lo convertimos en un dataframe
    
    df = dict_to_df(dict_teams)
    
    return df

#### 2. Actualización de una tabla con un resultado

El resultado debe estar en el siguiente formato: `[Equipo 1, Equipo 2, Resultado]`

* Con `Resultado = 1` si gana el `Equipo 1`
* Con `Resultado = 2` si gana el `Equipo 2`
* Con `Resultado = "X"` si empatan

In [4]:
def update_group(df, result):
        
    d = df_to_dict(df)
    
    # Validaciones de los inputs de la función
    
    if (result[0] not in list(d.keys()) or result[1] not in list(d.keys())):
        return 'Error: equipo no perteneciente a este grupo'
    
    elif (result[2] not in ['1', '2', 'X', 'x']):
        return 'Error: resultado incorrecto'
    
    # Lógica de la puntuación
    
    else:
    
        if result[2] == '1':
            winner = result[0]
            d[winner] +=3
        elif result[2] == '2':
            winner = result[1]
            d[winner] +=3    
        else:
            tie1 = result[0]
            tie2 = result[1]
            d[tie1] +=1
            d[tie2] +=1
            
        # Devuelve la tabla ordenada

        df = dict_to_df(d).sort_values(by= 'Points', ascending = False)

        return df

### Ejemplo:

Creamos una tabla inicial con Alemania, Bélgica, España y Brasil.

In [5]:
list_teams = ['Germany', 'Belgium', 'Spain', 'Brasil']

In [6]:
initial_group = create_initial_table(list_teams)
initial_group

      Team  Points
0  Germany       0
1  Belgium       0
2    Spain       0
3   Brasil       0

Le insertamos un resultado:

In [7]:
result = ['Germany', 'Brasil', '1']

In [8]:
group_iter1 = update_group(initial_group, result)
group_iter1

      Team  Points
0  Germany       3
1  Belgium       0
2    Spain       0
3   Brasil       0

Nuevo resultado:

In [9]:
result2 = ['Belgium', 'Germany', '2']
group_iter2 = update_group(group_iter1, result2)
group_iter2

      Team  Points
0  Germany       6
1  Belgium       0
2    Spain       0
3   Brasil       0

Nuevo resultado:

In [10]:
result3 = ['Brasil', 'Spain', 'X']
group_iter3 = update_group(group_iter2, result3)
group_iter3

      Team  Points
0  Germany       6
2    Spain       1
3   Brasil       1
1  Belgium       0

In [11]:
result4 = ['Korea', 'Spain', '2']
group_iter4 = update_group(group_iter3, result4)
group_iter4

'Error: equipo no perteneciente a este grupo'

In [12]:
result4 = ['Brasil', 'Spain', '20']
group_iter4 = update_group(group_iter3, result4)
group_iter4

'Error: resultado incorrecto'